*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 23, 92);
}

.card{
    width: 70%;
    padding: 2rem 3rem;
    border-radius: 32px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(97, 96, 95, 0.767);
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 40px rgba(97, 96, 95, 0.877);
}

.card::after{
    content: '';
    width: 100%;
    height: 100vh;
    background-image: url(/IMG/glowing-lines-human-heart-3d-shape-dark-background-generative-ai.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 0;
}

.left-card,
.right-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.login-form,
.register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.login-form form,
.register-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}

.login-form form input,
.register-form form input{
    width: 40%;
    padding: 12px 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #000;
}

.login-form form button,
.register-form form button{
    margin-top: 20px;
}

.to-login,
.to-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 400px;
    border: 2px solid #ccc;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 32px;
    color: #fff;
}

.login-form,
.to-register{
    position: absolute;
}

h2{
    margin-bottom: 1rem;
    font-size: 35px;
    color: #fff;
    letter-spacing: 1.3px;
}

.to-login button,
.to-register button{
    margin-top: 2.5rem;
}

button{
    border: none;
    border-radius: 10px;
    background-color: #fff;
    padding: 14px 40px;
    font-size: 17px;
    font-weight: 550;
    cursor: pointer;
    transform: translateY(0);
    transition: all .4s;
    letter-spacing: .5px;
}

button:hover{
    transform: translateY(-4px);
}

.card.register-active ::after{
    transform: translateX(-50%);
}

.card.login-active::after{
    transform: translateX(50%);
    transition: all .5s ease-in-out;
}

.card.register-active::after{
    transform: translateX(-50%);
    transition: all .4s ease-in-out;
}

.card.login-active .login-form{
    opacity: 1;
    transition: all .4s .5s ease;
}

.card.login-active .to-login{
    transform: translateX(-200%);
    transition: all .4s ease;
}

.card.login-active .to-register{
    transform: translateX(0);
    transition: all .4s .5s ease;
}

.card.login-active .register-form{
    opacity: 0;
    pointer-events: none;
}

.card.register-active .register-form{
    opacity: 1;
    transition: all .4s .5s ease;
}

.card.register-active .login-form{
    opacity: 0;
    pointer-events: none;
}


.card.register-active .to-register{
    transform: translateX(200%);
    transition: all .4s ease;
}

.card.register-active .to-login{
    transform: translateX(0);
    transition: all .4s .5s ease;
}